<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multiplication.mccullough.multiplicationlearningthefacts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/multi_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/multi_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BeginnerActivity" />

        <activity
            android:name=".FlashCardActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".PracticeActivity" />
        <activity android:name=".TimedTestActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".AchievementActivity" />
        <activity android:name=".ProgressActivity" />
        <activity
            android:name=".DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
    </application>

</manifest>
